* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: black;
}

input,
textarea,
select {
  outline: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}

p {
  line-height: 25px;
}
